<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Team HTML</title>
    <!--Bootstrap-->
    <link 
    rel="stylesheet"
    href="<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <style>
    #individualdata.card {
        margin: 20px;
        min-width: 250px;
    }
    .employeeID,
    .employeeEmail,
    .employeeContact {
        background-color: aqua;
        border: 3px solid #eee;
        padding:  5px 10px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    </style>
  </head>
  <body>
      <header>
          <div class="jumbotron jumbotron-fluid bg-primary">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
                          <h1 class="text-light text-center">Team Summary</h1>
                      </div>
                  </div>
              </div>
          </div>
      </header>
      <section>
        <div class="card-group">
          <!--Manager-->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Manager</h2>
              <h3 class="font-weight-bold">(((Name)))</h3>
              <p class="employeeID">ID:  ((#))</p>
              <p class="employeeEmail">Email: ((email))</p>
              <p class="employeeContact">Office Number:  (((#)))</p>
            </div>
          </div>
          <!--Employee-->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Engineer</h2>
              <h3 class="font-weight-bold">(((Name)))</h3>
              <p class="employeeID">ID:  ((#))</p>
              <p class="employeeEmail">Email: ((email))</p>
              <p class="employeeContact">Office Number:  (((#)))</p>
            </div>
          </div>
          <!--Intern-->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Intern</h2>
              <h3 class="font-weight-bold">(((Name)))</h3>
              <p class="employeeID">ID:  ((#))</p>
              <p class="employeeEmail">Email: ((email))</p>
              <p class="employeeContact">Office Number:  (((#)))</p>
            </div>
          </div>
        </div>
      </section>
      </body>
</html>